﻿
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomeIndex.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Home budget</h1>
    <p class="lead">You can add new outcome here</p>
    <p><a href="https://gitlab.com/AdriannaMajstrakPrivateProjects/HomeBudget" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">

    <!--column left-->
    <div class="col-md-6">

        <h3>Add outcome </h3>

        <label for="name">Name of outcome </label>
        <input class="form-control" id="name" />

        <label for="amount">Amount of outcome</label>
        <input class="form-control" id="amount" type="number" />


        <div class="form-group">
            <label for="settlementPeriod">Select settlement period:</label>
            <select class="form-control" id="settlementPeriod">
                @*@foreach (var item in Model.Months)
                {
                    <option value="@item.Id">@item.Date.ToString("MMMMM yyyy") </option>
                }*@
            </select>


        </div>

        <br />

        <button type="button" id="send" data-loading-text="Sending..." class="btn btn-primary" autocomplete="off">
            Send
        </button>

        <br />

        <div class="alert alert-success hidden" role="alert" id="result"></div>
    </div>

    <!--column right-->
    <div class="col-md-6">
       
        <div class="row">
            <h3>List of outcomes</h3>
        </div>

        <div class="row">
            <label>Select settlement period</label>
        </div>

        <!--Selector-->
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <select class="form-control" id="settlementPeriodListOutgoes"></select>
                </div>
                <div class="col-lg-6">
                    <button type="button" id="getList" data-loading-text="Sending..." class="btn btn-primary" autocomplete="off">
                        Get
                    </button>
                </div>
            </div>
        </div>

        <br />

        <!--List-->

        <div class="row scrollableList">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody id="listOfOutgoes">
                </tbody>
            </table>
        </div>
    </div>

</div>


@section scripts {

    <script src="~/Scripts/ViewScripts/HomeIndex.js"></script>

    <script>
        var actionLink = '@Url.Action("SaveOutgo", "Home")';
        var actionLinkGetList = '@Url.Action("GetListOfOutcomes", "Home")';
        var actionLinkListSettlementPeriod = '@Url.Action("GetListOfSettlementPeriod", "Home")';


        var getListOfSettlementPeriod = function (data) {
            for (var i = 0; i < data.length; i++) {
                var html = ('<option value="' + data[i].Id + '">'+ data[i].Date+' </option>')
                $('#settlementPeriodListOutgoes').append(html);
                $('#settlementPeriod').append(html);
            }
        }

        $.get(actionLinkListSettlementPeriod)
            .done(getListOfSettlementPeriod)

        $('#name').click(function () {
            $(this).removeClass('redBorder');
        });

        $('#amount').click(function () {
            $(this).removeClass('redBorder');
        });

        var successMessage = function () {
            $('#result').removeClass('hidden');
            $('#result').addClass('alert-success');
            $('#result').removeClass('alert-danger');
            $('#result')[0].innerHTML = '<strong>Sukces!</strong> Zapisano w bazie danych';
        }

        var errorMessage = function (message) {
            $('#result').removeClass('hidden');
            $('#result').removeClass('alert-success');
            $('#result').addClass('alert-danger');
            $('#result')[0].innerHTML = '<strong>Błąd!</strong> ' + message;
        }

        var okResponse = function (data) {
            if (data.Success) {
                successMessage();
            }
            else if (!data.Success) {
                errorMessage(data.ErrorMessage);
            }
        };

        var failResponse = function () {
            errorMessage('Spróbuj ponownie później');
        };

        var alawysResponse = function () {
            $('#send').button('reset');
            setTimeout(function () {
                $('#result').addClass('hidden');
            }, 3000);
            $('#name').removeClass('greenBorder');
            $('#name').removeAttr('disabled');
            $('#name').val(null);
            $('#amount').removeClass('greenBorder');
            $('#amount').removeAttr('disabled');
            $('#amount').val(null);
            $('#settlementPeriod').removeAttr('disabled');
        };

        $('#send').click(function () {

            if ($('#name').val() && $('#amount').val()) {

                $('#name').addClass('greenBorder');
                $('#amount').addClass('greenBorder');
                $(this).button('loading');
                $('#name').attr('disabled', 'disabled');
                $('#amount').attr('disabled', 'disabled');
                $('#settlementPeriod').attr('disabled', 'disabled');

                var postedObj = {
                    name: $('#name').val(),
                    amount: $('#amount').val(),
                    settlementPeriodId: $('#settlementPeriod').val()
                };

                $.post(actionLink, postedObj).done(okResponse)
                    .fail(failResponse)
                    .always(alawysResponse);
            }
            else if (!$('#name').val()) {
                $('#name').addClass('redBorder');
            }
            else if (!$('#amount').val()) {
                $('#amount').addClass('redBorder');
            }

        });

        var outgoesGot = function (data) {

            $('#listOfOutgoes').empty();

            for (var i = 0; i < data.length; i++) {
                $('#listOfOutgoes').append('<tr><td>' + data[i].Name + '</td><td>' + data[i].Amount + '</td></tr>')
            } 
        }

        $('#getList').click(function () {
            $('#settlementPeriodListOutgoes').attr('disabled', 'disabled');

            var id = $('#settlementPeriodListOutgoes').val();
            $.get(actionLinkGetList + "/" + id)
                .done(outgoesGot)
                .fail(function (data) {
                    console.log(data);
                })
               .always(function () { $('#settlementPeriodListOutgoes').removeAttr('disabled'); });

        });

    </script>

}
